#div1
{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    height: 96px;
    width: 192px;
}
#div2, #div3
{
    display: inline-block;
    height: 96px;
    width: 96px;
}
#div3
{
    background-color: blue;
    float: left;
}
