#container
{
    margin: 48px;
}
#inline
{
    background: yellow;
    margin-left: -48px;
}
#float, #block
{
    height: 96px;
    width: 96px;
}
#float
{
    background: orange;
    float: left;
}
#block
{
    background: blue;
    margin: -24px;
}
