#rel-pos-containing-block {position: relative;}

#green-overlapping-abs-pos
{
background-color: green;
border-color: green;
border-style: solid;
border-top-width: 32px;
border-bottom-width: 32px;
left: 0px;
padding: 48px;
position: absolute;
width: 128px;
z-index: auto;
}

#zero-height-first-float
{
float: left;
width: 288px; /* or any other width number which would represent less than the document box width */
}

#red-overlapped-second-float
{
background-color: red;
float: left;
padding: 80px;
width: 64px;
}
