#div1 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    height: 232px;
    width: 232px;
}

.inner {
    background: blue;
    height: 96px;
    margin: 10px;
    width: 96px;
}
#div2, #div4 {
    float: right;
}

#div3 {
    float: left;
}
