#div1
{
    border: solid 5px black;
    height: 232px;
    width: 232px;
}
div div
{
    background: blue;
    height: 96px;
    margin: 10px;
    width: 96px;
}
#div2, #div4
{
    float: right;
}
#div3
{
    float: left;
}