#div1 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    height: 96px;
    width: 192px;
}

#div2 {
    background-color: blue;
    height: 96px;
    float: right;
    width: 96px;
}
