div
{
    /* font: 20px/1em Ahem; */
    width: 80px;
}
#div1
{
    background: yellow; /* url('support/margin-collapse-4em-space.png'); */
    height: 96px
}
.class1
{
    background: green;
    height: 16px;
}
#div2
{
    margin-bottom: 16px;
}
#div3
{
    float: left;
    height: 48px;
}
#div4
{
    clear: both;
    margin-top: 16px;
}
