div
{
    /* font: 20px/1em Ahem; */
    width: 80px;
}
#div1
{
    background: yellow; /* url('support/margin-collapse-2em-space.png'); */
    height: 64px;
}
div div
{
    background: green;
    height: 16px;
}
#div2
{
    margin-bottom: 16px;
}
#div3
{
    float: left;
    margin-top: 16px;
}
