div
{
/*    font: 20px/1em Ahem;*/
    height: 80px;
    width: 80px;
}
#div1
{
    height: 32px;
    margin-top: 32px;
    overflow: hidden;
}
#div2
{
    height: 16px;
    background: red;
    margin-top: 32px;
}
