div
{
    /* font: 20px/0 Ahem; */
    width: 80px;
}
#div1
{
    background: yellow; /* url('support/margin-collapse-2em-space.png'); */
    height: 64px;
}
#div2, #div3
{
    display: inline-block;
    margin-bottom: 16px;
}
#div3, #div4
{
    background: green;
    height: 16px;
}
