div
{
    /* font: 20px/1em Ahem; */
    height: 80px;
    width: 80px;
}
#div1
{
    height: 32px;
    margin-top: 32px;
    overflow: scroll;
}
#div2
{
    background: red;
    height: 16px;
    margin-top: 16px;
}
