div
{
    font: 20px/1em Ahem;
    width: 5em;
}
#div1
{
    background: url('support/margin-collapse-4em-space.png');
    height: 6em
}
.class1
{
    background: green;
    height: 1em;
}
#div2
{
    margin-bottom: 1em;
}
#div3
{
    float: left;
    height: 3em;
}
#div4
{
    clear: both;
    margin-top: 1em;
}