div
{
    /* font: 20px/1em Ahem; */
    width: 80px;
}
#div2, #div3, #div4
{
    height: 16px;
}
#div1
{
    background: yellow; /* url('support/margin-collapse-2em-space.png') left -1em; */
    border-top-width: 16px;
    border-top-style: solid;
    border-top-color: green;
}
#div2
{
    background: red;
}
#div3
{
    background: red;
    height: 0px;
    margin-top: 32px;
    margin-bottom: 32px;
}
#div4
{
    background: green;
    margin-top: 32px;
}
