div
{
    /* font: 20px/1em Ahem; */
    width: 80px;
}
#div1
{
    background: blue; /* url('support/margin-collapse-2em-space.png'); */
    height: 64px;
}
#div2, #div4
{
    background: green;
    height: 16px;
}
#div3
{
    background: red;
}
#div3, #div4
{
    margin-top: 32px;
}
