div
{
    font: 20px/0 Ahem;
    width: 5em;
}
#div1
{
    background: url('support/margin-collapse-2em-space.png');
    height: 4em;
}
#div2, #div3
{
    display: inline-block;
    margin-bottom: 1em;
}
#div3, #div4
{
    background: green;
    height: 1em;
}