div
{
    font: 20px/1em Ahem;
    width: 5em;
}
#div1
{
    background: url('support/margin-collapse-2em-space.png');
    height: 4em;
}
#div2, #div4
{
    background: green;
    height: 1em;
}
#div3
{
    background: red;
}
#div3, #div4
{
    margin-top: 2em;
}