#div1
{
    height: 2in;
    position: relative;
    width: 2in;
}
div div
{
    height: 1in;
    width: 1in;
}
#div2
{
    background: blue;
    left: 1in;
    height: 2in;
    position: absolute;
}
#div3
{
    background: orange;
}