#div1
{
    height: 192px;
    position: relative;
    width: 192px;
}
div div
{
    height: 96px;
    width: 96px;
}
#div2
{
    background: blue;
    left: 96px;
    height: 192px;
    position: absolute;
}
#div3
{
    background: orange;
}
