#div1
{
    height: 96px;
    position: relative;
    width: 192px;
}
#div2, #div3
{
    height: 96px;
    width: 96px;
}
#div2
{
    background: red;
}
#div3
{
    background: green;
    position: absolute;
    left: 0px;
    top: 0px;
}
